<div class="tik-tok-container tt-bg-color">
  <div class="tt-progress-bar">
    <div class="tt-progress"></div>
  </div>

  <% if (typeof title !== 'undefined' && title) { %>
    <div class="tt-header tt-header-color cf">
      <div class="tt-label">Timeline:</div>

      <div class="tt-title"><%= title %></div>
    </div>
  <% } %>

  <div class="tt-spine-background">
    <div class="tt-spine tt-spine-color"></div>
  </div>

  <div class="tt-spine-end tt-spine-top tt-header-color">
    <div><div class="tt-spine-point tt-spine-color"></div></div>
    <div><div class="tt-spine tt-spine-color"></div></div>
  </div>

  <div class="tt-groups">
    <% _.forEach(groups, function(g, gi) { %>
      <div class="tt-group">
        <div class="tt-group-label-wrapper">
          <div class="tt-group-label tt-spine-color">
            <%= g.display %>
          </div>
        </div>

        <div class="tt-entries">
          <% _.forEach(g.entries, function(e, ei) { %>
            <div class="tt-entry" id="<%= tiktok.id %>-<%= e.id %>">
              <!-- Need to re-think the link field
              <a class="tt-entry-link" href="#<%= tiktok.id %>-<%= e.id %>">link</a>
              -->

              <div class="tt-entry-date"><%= e.dateFormatted %></div>

              <% if (e.title) { %>
                <h3 class="tt-entry-title"><%= e.title %></h3>
              <% } %>

              <div class="tt-entry-content-wrapper cf">
                <% if (e.media) { %>
                  <div class="tt-entry-media-wrapper <% if (e.body) { %>with-body<% } %>">
                    <div class="tt-entry-media <% if (e.source) { %>with-source<% } %>">
                      <% if (e.type === 'youtube') { %>
                        <iframe class="tt-entry-media-youtube" width="100%" height="350" src="<%= e.media %>" frameborder="0" allowfullscreen></iframe>

                      <% } else if (e.type === 'soundcloud_large') { %>
                        <iframe class="tt-entry-media-soundcloud" width="100%" height="350" scrolling="no" frameborder="no" src="<%= e.media %>"></iframe>

                      <% } else if (e.type === 'soundcloud') { %>
                        <iframe class="tt-entry-media-soundcloud" width="100%" height="166" scrolling="no" frameborder="no" src="<%= e.media %>"></iframe>

                      <% } else if (e.type === 'embed') { %>
                        <iframe class="tt-entry-media-embed" width="100%" height="350" scrolling="no" frameborder="no" src="<%= e.media %>"></iframe>

                      <% } else { %>
                        <img class="tt-entry-media-image" src="<%= e.media %>">
                      <% } %>
                    </div>

                    <% if (e.source) { %>
                      <div class="tt-entry-source">
                        <%= e.source %>
                      </div>
                    <% } %>
                  </div>
                <% } %>

                <% if (e.body) { %>
                  <div class="tt-entry-body-wrapper <% if (e.media) { %>with-media<% } %>">
                    <div class="tt-entry-body"><%= e.body %></div>
                  </div>
                <% } %>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    <% }) %>
  </div>

  <div class="tt-spine-end tt-spine-bottom tt-bg-color">
    <div><div class="tt-spine-point tt-spine-color"></div></div>
  </div>
</div>
