<div class="timeline-container timeline-bg-color">
  <div class="mini-timeline">
    <div class="mini-timeline-progress"></div>
  </div>

  <% if (typeof title !== 'undefined' && title) { %>
    <div class="timeline-header header-color cf">
      <div class="timeline-label">Timeline:</div>

      <div class="timeline-title"><%= title %></div>
    </div>
  <% } %>

  <div class="spine-background">
    <div class="spine-color spine"></div>
  </div>

  <div class="spine-end spine-top header-color">
    <div><div class="spine-color spine-point"></div></div>
    <div><div class="spine-color spine"></div></div>
  </div>

  <div class="group-container">
    <% _.forEach(groups, function(g, gi) { %>
      <div class="group">
        <div class="group-label-container">
          <div class="group-label spine-color">
            <%= g.display %>
          </div>
        </div>

        <div class="group-entries">
          <% _.forEach(g.entries, function(e, ei) { %>
            <div class="entry" id="<%= timeline.id %>-<%= e.id %>">
              <a class="entry-link" href="#<%= timeline.id %>-<%= e.id %>">link</a>

              <div class="entry-date"><%= e.dateFormatted %></div>

              <% if (e.title) { %>
                <h3 class="entry-title"><%= e.title %></h3>
              <% } %>

              <div class="entry-content-container cf">
                <% if (e.media) { %>
                  <div class="entry-media-container <% if (e.body) { %>with-body<% } %>">
                    <div class="entry-media <% if (e.source) { %>with-source<% } %>">
                      <% if (e.mediaType === 'youtube') { %>
                        <iframe class="entry-media-youtube" width="100%" height="350" src="<%= e.media %>" frameborder="0" allowfullscreen></iframe>

                      <% } else if (e.mediaType === 'soundcloud_large') { %>
                        <iframe class="entry-media-soundcloud" width="100%" height="350" scrolling="no" frameborder="no" src="<%= e.media %>"></iframe>

                      <% } else if (e.mediaType === 'soundcloud') { %>
                        <iframe class="entry-media-soundcloud" width="100%" height="166" scrolling="no" frameborder="no" src="<%= e.media %>"></iframe>

                      <% } else { %>
                        <img class="entry-media-image" src="<%= e.media %>">
                      <% } %>
                    </div>

                    <% if (e.source) { %>
                      <div class="entry-source">
                        <%= e.source %>
                      </div>
                    <% } %>
                  </div>
                <% } %>

                <% if (e.body) { %>
                  <div class="entry-body-container <% if (e.media) { %>with-media<% } %>">
                    <div class="entry-body"><%= e.body %></div>
                  </div>
                <% } %>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    <% }) %>
  </div>

  <div class="spine-end spine-bottom timeline-bg-color">
    <div><div class="spine-color spine-point"></div></div>
  </div>
</div>
